/* CSS Document */		
		header{padding-top: 30px;}									
		.fixed{ width: 850px;}
		#logo{width: 70px; height: 100%; margin: 5px 0 0;}
		#store{ font-size: 17px; }
		#store p{cursor: pointer;}
		.burgeron, .burgeroff{cursor: pointer; margin-top: 190px;float: left; position: relative;}
		.burgeron span, .burgeroff span
			{
			  display: block;
			  width: 33px;
			  height: 4px;
			  margin-bottom: 5px;
			  position: relative;
			  
			  background:rgba(0,0,0,1.00);
			  border-radius: 3px;

			  z-index: 1;
			}
		.wrapper1{
			width: 10px;
			top: 770px;
			margin-left:795px;}
		.wrapper2{	
			width: 10px;
			top: 770px;
			margin-left:795px;}
		.wrapper3{	
			width: 10px;
			top: 770px;
			margin-left:795px;}
		.center{width: 850px;}
		#ovfl{
			margin-left: 50px;;
			width: 800px;
		}
		#big{
			width:644px;
			height: 3520px;
		}
		.main{
			width: 600px;
			height: 100vh;
			margin-left: 80px;
		}
		.flip1, .flip2, .flip3{
			width: 600px;
			height: 100vh;
		}
		nav { display: none;padding-left: 50px; width:250px; height: 210px; margin-top: 190px;box-shadow: -3px -3px 5px rgba(255,255,255,0.30), 3px 3px 5px rgba(116,147,181,0.20); position: absolute; top: 40px; left: -10px; background-color:#F0F0F0;;border-radius: 5px;}
		nav ul .bigmenu{
			padding: 7px 25px 0 ;
			float: left;
			margin-bottom: 16px; 
			width: 60px; 
			height: 20px;}
		nav ul .bigmenu a{
			font-size: 20px;
			font-weight: 700;
			padding-left: 10px;
			cursor: pointer;
			}
		.lilmenu{
			display: block;
			position: absolute;
		margin-top: 20px;
		margin-left:8px;
		width: 85px;
		height: 170px;}
		.lilmenu li .smallm{
			padding-top: 5px;
			font-size: 18px;
			height: 30px;
			
		}

		.smallm:hover {box-shadow: -3px -3px 5px rgba(255,255,255,1.00), 3px 3px 5px rgba(116,147,181,0.30);}
		.text{top: 550px; left: -10px;}
		#rect{width:220px; height: 80px; margin-top: 9px;}
		#lil{font-size: 42px;  width: 340px;}
		#bigl{ font-size: 55px; width: 340px; top: 30px;}
		#title_t{font-size: 70px;  margin-top: 190px;margin-right: 0px;}
		#title_b{font-size: 70px;  margin-top: 190px;margin-right: -75px;}
		#title_sh{font-size: 70px;  margin-top: 190px;margin-right: -45px;}
		#title_st{font-size: 70px;  margin-top: 190px;margin-right: 0px;}
		#images1{
			width: 100%;
			height: 100vh;	
		}
		#images2{
			width: 100%;
			height: 100vh;	
		}
		#images3{
			width: 100%;
			height: 100vh;	
		}
		
		.w1{
			margin: 0 auto;
			width: 105%;
			height: 100vh;
			
			}
		.w1f{
			width: 110%;
			height: 100vh;
			}
		.photo{
			width: 100%;
			height: 100vh;
			}
		#p1{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p2{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p3{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p4{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p5{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p6{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p7{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p8{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p9{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p10{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p11{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		#p12{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
		}
		
		.fbut{
			
			margin: 60% auto;
			width: 150px;
			height: 40px;
			padding-top: 20px;
			cursor: pointer;
			
		}

		.w2{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			
			}
		.w3{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
		
			}
		.w4{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		.w5{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		.w6{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		.w7{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		.w8{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		.w9{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		.w10{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		.w11{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		.w12{
			width: 105%;
			margin: 0 auto;
			height: 100vh;
			}
		
		.dot_slider1, .dot_slider2, .dot_slider3{
			top:500px;
			margin-left: 800px;
			width: 26px;
			height: 170px;
		}
		.button1,.button2, .button3, .button4, .button5, .button6, .button7, .button8, .button9,.button10,.button11,.button12{
			width: 15px;
			height: 15px;
			margin-top: 15px;
		}
		.buttonr{
			width: 15px;
			height: 15px;
			margin-top: 15px;
		}
	
