/* CSS Document */

		.w1{
			
			background: url("../images/women/bottom/bottom_w1.1.png") no-repeat center center;
			background-size:contain;display: none;}
		
		.w2{
			
			background: url("../images/women/bottom/bottom_w1.2.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w3{
			
			background: url("../images/women/bottom/bottom_w1.3.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w4{
			
			background: url("../images/women/bottom/bottom_w1.4.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w5{
			
			background: url("../images/women/bottom/bottom_w2.1.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w6{
			
			background: url("../images/women/bottom/bottom_w2.2.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w7{
			
			background: url("../images/women/bottom/bottom_w2.3.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w9{
			
			background: url( "../images/women/bottom/bottom_w3.1.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w10{
			
			background: url( "../images/women/bottom/bottom_w3.2.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w11{
			
			background: url( "../images/women/bottom/bottom_w3.3.png") no-repeat center center;
			background-size:contain;
			display: none;}
		.w12{
			
			background: url( "../images/women/bottom/bottom_w3.4.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p1{
			
			background: url("../images/women/bottom/obottom_w1.1.png") no-repeat center center;
			background-size:contain;display: none;}
		#p2{
			
			background: url("../images/women/bottom/obottom_w1.2.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p3{
			
			background: url("../images/women/bottom/obottom_w1.3.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p4{
			
			background: url("../images/women/bottom/obottom_w1.4.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p5{
			
			background: url("../images/women/bottom/obottom_w2.1.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p6{
			
			background: url("../images/women/bottom/obottom_w2.2.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p7{
			
			background: url("../images/women/bottom/obottom_w2.3.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p9{
			
			background: url( "../images/women/bottom/obottom_w3.1.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p10{
			
			background: url( "../images/women/bottom/obottom_w3.2.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p11{
			
			background: url( "../images/women/bottom/obottom_w3.3.png") no-repeat center center;
			background-size:contain;
			display: none;}
		#p12{
			
			background: url( "../images/women/bottom/obottom_w3.4.png") no-repeat center center;
			background-size:contain;
			display: none;}
		
		
		#circle1{background-color: #FE9D19;}
		#circle2{background-color: #FFBE00;}
		#circle3{background-color: #FF2B1D;}
		#circle4{background-color: #DD1EFF;}
		#circle5{background-color: #4E005C;}
		#circle6{background-color: #00365E;}
		#circle7{background-color: #5B0008;}
		#circle9{background-color: #FF7CF1;}
		#circle10{background-color: #73FF8D;}
		#circle11{background-color: #97BFFF;}
		#circle12{background-color: #BA61FF;}

		#circle1:hover{transform: scale(1.3,1.3)}
		#circle2:hover{transform: scale(1.3,1.3)}
		#circle3:hover{transform: scale(1.3,1.3)}
		#circle4:hover{transform: scale(1.3,1.3)}
		#circle5:hover{transform: scale(1.3,1.3)}
		#circle6:hover{transform: scale(1.3,1.3)}
		#circle7:hover{transform: scale(1.3,1.3)}
		#circle9:hover{transform: scale(1.3,1.3)}
		#circle10:hover{transform: scale(1.3,1.3)}
		#circle11:hover{transform: scale(1.3,1.3)}
		#circle12:hover{transform: scale(1.3,1.3)}
